# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.pipenv/
*.egg-info/

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# PyCharm settings
.idea/

# macOS system files
.DS_Store
